.first-section-sub-heading {
    text-align: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #2B3D6B;
    opacity: 0.4;
    display: block;
    width: 100%;
    margin-top: 10rem;
}

.first-section-heading {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #2B3D6B;
    padding: 0 9rem;
    white-space: pre-line;
    margin-bottom: 5rem;
    display: block;
    width: 100%;
}

.text-center {
    text-align: center;
    width: 100%;
}

h3 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 39px;
    text-align: center;
    white-space: pre;
    margin: 0;
    width: 100%;
}

.relative-1 {
    width: 350px !important;
    position: relative;
    top: -130px;
    left: -150px;
}

.relative-2 {
    width: 350px !important;
    position: relative;
    top: -130px;
    right: -450px;
}

.clover {
    margin: 8rem 0 10rem 0;
}

.container-section {
    .section-left {
        padding-right: 2rem;
        padding-left: 10%;
    }
    .section-right {
        padding-left: 4rem;
        padding-right: 10%;
    }
}

.nav-icon {
    margin-bottom: 0.7rem;
}

.container-section {
    height: 75vh;
}