html, body {
    overflow-x: hidden;
}
.container-section {

    height: 90vh;
    @media (max-width: 768px) {
        height: auto;
    }

    &.aligned {
        .section-header {
            padding: 0rem 0rem 0rem 10%;
        }
    }

    .section-header {
        padding: 0rem 0rem 0rem 15rem;

        .number {
            font-weight: bold;
            font-size: 6rem;
            line-height: 8rem;
            color: #00A6FF;
            opacity: 0.08;
        }

        .heading {
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: #2B3D6B;
            padding-bottom: 1rem;
        }

        .sub-heading {
            font-size: 1.1rem;
            line-height: 1.9rem;
            color: #2B3D6B;
            opacity: 0.8;
        }
    }
}

@media(max-width: 768px) {
    .wave {
        display: none;
    }

    .container-section {
        .section-header {
            padding: 0 3rem 0 3rem;
        }
    }
}

@media(max-width: 768px) {
    height: 120vh;
}

.grecaptcha-badge {
    visibility: hidden;
}

#ifrmTrustBadge {
    visibility: hidden;
}