@import 'modules/base';

header {
    padding: 0 10%;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 1071;
    background: #ffffff;
    box-shadow: 0 8px 16px hsla(0, 0%, 60.8%, .1);

    .logo {
        padding: 0;
        display: flex;
        justify-content: start;
        align-items: center;

        img {
            width: 10rem;
            height: 2rem;
        }

        @media(max-width: 768px) {
            padding: 1rem 0.5rem 1rem 0.5rem;
        }
    }

    ul {
        padding: 0;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        align-items: center;
        font-weight: normal;

        li {
            display: inline-block;
            line-height: 2rem;
            font-size: 0.875rem;

            a {
                color: $primary-color;
            }
        }

        .menu-left-gap {
            margin-left: 3rem;
        }

        @media (max-width: 768px) {
            display: block;

            li {
                width: 100%;
                text-align: center;
                margin: 0 !important;
                padding: 0 !important;
            }
        }

        &.nav {
            li:not(.active) {
                a {
                    opacity: 0.56;
                }
            }
        }

        .demo {
            height: 2rem;
            width: 6rem;
            text-align: center;
            display: inline-block;
            background: $blue-color;
            box-shadow: 0px 8px 12px rgba(0, 166, 255, 0.12);
            border-radius: 100px;
            color: $white-color;
            opacity: 1;
            font-size: 0.75rem;
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .active .dropdown-content a {
        opacity: 0.56;
    }

    .dropdown-content a {
        color: $primary-color;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd
    }

    .show {
        display: block;
    }
}

.toggler {
    display: none;
    float: right;
    height: 1.5rem !important;
    opacity: 0.5;
}

@media (max-width: 768px) {
    #navbar {
        display: none;
    }
    .toggler {
        display: block;
    }
}