@import 'modules/base';
header {    
    padding: 0 10%;
    position: sticky;
    top: 0;
    z-index: 1071;
    background: #ffffff;
    .logo {
        padding: 0;
        display: flex;
        justify-content: start;
        align-items: center;
        img {
            width: 10rem;
            height: 2rem;
        }
    }
    ul {
        padding: 0;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        align-items: center;
        font-weight: normal;
        li {
            display: inline-block;
            line-height: 2rem;
            font-size: 0.875rem;
            a {
                color: $primary-color;
            }
        }
        &.nav {
            li:not(.active) {
                a {
                    opacity: 0.56;
                }
            }
        }
        .demo {
            height: 2rem;
            width: 6rem;
            text-align: center;
            display: inline-block;
            background: $blue-color;
            box-shadow: 0px 8px 12px rgba(0, 166, 255, 0.12);
            border-radius: 100px;
            color: $white-color;
            opacity: 1;
            font-size: 0.75rem;
        }
    }
}