@import 'modules/base';
#section1 {
    .vh-80 {
        height: calc(100vh - 100px);
    }
    .wave { 
        position: absolute;
        top: 4rem;
        left: 0;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .svg-image {
        width: 100%;
        height: auto;
        position: absolute;
        max-height: 80vh;
        img {
            width: 100%;
        }
    }
    .text-container {
        padding-left: 10%;
        padding-top: 2rem;
    }
    h1 {
        font-size: 3rem;
        line-height: 4rem;
        font-weight: normal;
    }
    h4 {
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.6rem;
    }
    .trusted {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.2rem;
        letter-spacing: 0.02em;
        color: $primary-color;
        text-align: center;
        width: 100%;
        margin-top: 15rem;
        opacity: 0.72;
    }
    .divider {
        text-align: center;
        width: 100%;
        margin-top: 1rem;
        img {
            display: block;
            margin: auto;
        }
    }
    .quote {
        width: 50%;
        margin: auto;
        margin-top: 2rem;
        text-align: center;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 2rem;
        span {
            display: block;
            font-size: 1rem;
            line-height: 2.5rem;
            text-align: right;
            padding-right: 2rem;
        }
    }
    .brands-list {
        width: 100%;
        padding: 2rem 5rem;
        ul {
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            align-items: center;
            font-weight: normal;
            padding: 0;
            width: 100%;
            li {
                display: inline-block;
                width: 20%;
                img {
                    display: block;
                    margin: auto;
                }
            }
        }
    }
    .contact-form {
        input {
            background: $white-color;
            box-shadow: 0px 8px 24px rgba(209, 220, 246, 0.48);
            border-radius: 4rem;
            line-height: 3rem;
            height: 3rem;
            width: 20rem;
            margin-right: 1rem;
            padding: 0 2rem;
            outline: none;
            border: none;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: $grey-color;
            opacity: 0.64;
        }
        button {
            background: $blue-color;
            box-shadow: 0px 8px 24px rgba(0, 166, 255, 0.24);
            border-radius: 8rem;
            outline: none;
            border: none;
            color: $white-color;
            line-height: 3rem;
            height: 3rem;
            width: 9rem;
            text-align: center;
            &:hover {
                cursor: pointer;
            }
        }
    }
}