@import 'modules/base';

#section2 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    .features {
        padding-left: 10%;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.8rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #2B3D6B;
        opacity: 0.72;
    }
    .keys-success {
        padding-left: 10%;
        font-size: 2rem;
        line-height: 2.6rem;
        color: #2B3D6B;
    }
    .svg-image {
        img {
            width: 100%;
            max-width: 100vw;
        }
        &.limit-width {
            max-width: 500px;
        }
    }
    .sub-heading-link {
        margin: 1rem 0;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;  
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #00A6FF;
        opacity: 0.8;
    }
}