@import 'modules/base';
#title-section {
    margin-top: 8rem;
    h2 {
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #2B3D6B;
        opacity: 0.4;
    }
    h1 {
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 56px;
        line-height: 64px;
        text-align: center;
        color: #2B3D6B;
        margin: 1rem 0;
    }
}
#video-section {
    height: 60vh;
    position: relative;
    width: 100%;
    img {
        display: block;
        margin: auto;
        width: 50%;
        height: 100%;
    }
    .video-play-button {
        border-radius: 50%;
        display: block;
        margin: auto;
        width: 6rem;
        height: 6rem;
        background: rgba(0, 144, 255, 0.2);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        span {
            display: block;
            margin: auto;
            background: #00A6FF;
            border-radius: 50%;
            width: 4rem;
            height: 4rem;
            margin-top: 1rem;
        }
        img {
            display: block;
            position: relative;
            width: 2rem;
            height: 2rem;
            left: 0;
            right: 0;
            top: 1rem;
            bottom: 0;
            &:hover {
                cursor: pointer;
            }
        }
    }
}